langchain
langchain-community
langchain-groq
langchain-qdrant
langchain-core
langchain-huggingface
langchain-classic
sentence-transformers
qdrant-client
fastembed
docling
docling-hierarchical-pdf
pandas
python-dotenv
requests
transformers
fastapi
uvicorn
python-multipart
pyjwt
